<ion-header>
  <navbarapp [title]="'Ordenes' | translate | async"></navbarapp>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="active">
    <ion-segment-button value="true">
      {{'Activas' | translate | async}}
    </ion-segment-button>
    <ion-segment-button value="false">
      {{'Todas' | translate | async}}
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="active === 'true'">
    <ion-card *ngFor="let order of activeOrders">
      <ion-card-header>
        <h1 *ngIf="order.type === 'mesa'">{{'Numero de Mesa:' | translate | async}} {{order.table}}</h1>
        <h1 *ngIf="order.type === 'llevar'">{{'Dirección:' | translate | async}} {{order.address}}</h1>
        <span *ngIf="order.state === 'active'">
          <ion-icon name="information-circle" color="info"></ion-icon>
        </span>
        <span *ngIf="order.state === 'cancelled'">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </span>
        <span *ngIf="order.state === 'closed'">
          <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        </span>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let plate of order.plates">
            <h2>{{plate.amount}} - {{plate.name | translate | async}}</h2>
            <p *ngIf="plate.description">{{plate.description | translate | async}}</p>
          </li>
        </ul>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="editOrder(order)">
            <div>{{'Editar Orden' | translate | async}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="billOrder(order)">
            <div>{{'Cobrar' | translate | async}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="cancellOrder(order)">
            <div>{{'Cancelar' | translate | async}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngIf="active === 'false'">
    <ion-card *ngFor="let order of allOrders">
      <ion-card-header>
        <h1 *ngIf="order.type === 'mesa'">{{'Numero de Mesa:' | translate | async}} {{order.table}}</h1>
        <h1 *ngIf="order.type === 'llevar'">{{'Dirección:' | translate | async}} {{order.address}}</h1>
        <span *ngIf="order.state === 'active'">
          <ion-icon name="information-circle" color="info"></ion-icon>
        </span>
        <span *ngIf="order.state === 'cancelled'">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </span>
        <span *ngIf="order.state === 'closed'">
          <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        </span>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let plate of order.plates">
            <h2>{{plate.amount}} - {{plate.name | translate | async}}</h2>
            <p *ngIf="plate.description">{{plate.description | translate | async}}</p>
          </li>
        </ul>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="billOrder(order)">
            <div>{{'Ver Factura' | translate | async}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>